<body> <!--================Checkout Area =================-->
 <br>
 <br>
<div>
      <div class="billing_details" id="content" >
        <div class="row">
          <div class="col-lg-4">
       
              </div>
             
               
              
             </div>
             </div>
          <div class="col-lg-4">
            <div class="order_box"> 
              <h2>Vos Informations </h2>
             
                <label>Rahma</label>
              
              <div class="col-md-6 form-group p_star">
                <label >BG</label>
              </div>
             
              <div class="col-md-6 form-group p_star">
                <label >27325974</label>
              </div>
              <div class="col-md-6 form-group p_star">
                <label >rahma@gmail.com</label>
              </div>
              
              <div class="col-md-12 form-group p_star">
               <label>Adresse :</label>
                <input type="text" class="form-control" id="add1" name="add1" [(ngModel)]="livraison.lieu"/>
                <span ></span>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">J'ai lu et accepté les </label>
                <a href="#">termes & conditions*</a>
              </div>
              <a class="btn_1 checkout_btn_1" href="livraison"  >Proceder au payement</a>

            </div>
          </div>
        </div>
      <br>
      <br>
  <!--================End Checkout Area =================-->
  </body> 