<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">{{nameTitle}} listing</h1>
            </div>
            <div class="col-auto">
                 <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <button class="btn btn-sm btn-danger"  [routerLink]="'/evenement/create'">
                                create evenement </button>
                        </div>
                        <div class="col-auto">
                            <form class="table-search-form row gx-1 align-items-center">
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='idEvenement'" >
                                    <input type="text" id="search-idEvenement" 
                                    [(ngModel)]="evenementIdFromTemplate" name="searchorders" class="form-control search-orders" placeholder="Search event by ID" 
                                    (keyup)="searchEvenementByIdKeyUp(evenementIdFromTemplate)">
                                </div>
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='lieuEvenement'" >
                                    <input type="text" id="search-lieuEvenement" 
                                    [(ngModel)]="evenementIdFromTemplate" name="searchorders" class="form-control search-orders" placeholder="Search event by lieuEvenement" 
                                    (keyup)="searchEvenementByIdKeyUp(evenementIdFromTemplate)">
                                </div>
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='idAdminCreateur'" >
                                    <input type="text" id="search-idAdminCreateur" 
                                    [(ngModel)]="evenementIdFromTemplate" name="searchorders" class="form-control search-orders" placeholder="Search event by idAdminCreateur" 
                                    (keyup)="searchEvenementByIdKeyUp(evenementIdFromTemplate)">
                                </div>
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='instanceOrganistatrice'" >
                                    <input type="text" id="search-instanceOrganistatrice" 
                                    [(ngModel)]="evenementIdFromTemplate" name="searchorders" class="form-control search-orders" placeholder="Search event by instanceOrganistatrice" 
                                    (keyup)="searchEvenementByIdKeyUp(evenementIdFromTemplate)">
                                </div>                                
 
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='filtreInactif'" >
                                    <input type="text" id="search-filtreInactif" 
                                    [(ngModel)]="lieuEvenementFiltreInactif" name="searchorders" class="form-control search-orders" placeholder="Search event by lieuEvenement" >
                                </div>
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='filtreInactif'" >
                                    <input type="text" id="search-searchorders" 
                                    [(ngModel)]="idAdminCreateurFiltreInactif" name="searchorders" class="form-control search-orders" placeholder="Search event by idAdminCreateur" >
                                </div>
                                <div class="col-auto" *ngIf="selectedSearchCriteria=='filtreInactif'" >
                                    <input type="text" id="search-orers" 
                                    [(ngModel)]="instanceOrganistatriceFiltreInactif" name="searchorders" class="form-control search-orders" placeholder="Search event by instanceOrganistatrice" >
                                </div>                                                                   
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary" (click)="searchEvenementByParams(lieuEvenementFiltreInactif, idAdminCreateurFiltreInactif, instanceOrganistatriceFiltreInactif)" >Search</button>

                                </div>
                            </form>
                            
                        </div><!--//col-->
                        <div class="col-auto">
                            
                            <select [ngModel]="selectedSearchCriteria" (change)="onChange($event.target)" class="form-select w-auto">
                                  <option selected value="filtreInactif">All</option>
                                  <option value="idEvenement">by Id</option>
                                  <option value="lieuEvenement">by Lieu</option>
                                  <option value="idAdminCreateur">By Id admin créateur</option>
                                  <option value="instanceOrganistatrice">By instance organistatrice</option>
                          <!--

                            <select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" name="deviceText">
                          -->        
                            </select>
                        </div>
       
                        <div class="col-auto">						    
                            <a class="btn app-btn-secondary" href="#">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
  <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
</svg>
                                Download CSV
                            </a>
                        </div>
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->
       
        
        <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4" role="tablist">
            <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="false">All</a>
            <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false" tabindex="-1">Paid</a>
            <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false" tabindex="-1">Pending</a>
            <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false" tabindex="-1">Cancelled</a>
        </nav>
        
        
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>
<!--

   _id: string;
    description: string;		
    dateDeb: Date;		
    dateFin: Date;		
    lieu: string;		
    image: string;		
    instanceOrg: string;	
    isActive: boolean;

    typeEvenement: string;

    admin: string;

-->

                                        <th class="cell">_id</th>
                                        <th class="cell">description</th>
                                        <th class="cell">dateDeb</th>
                                        <th class="cell">dateFin</th>
                                        <th class="cell">instanceOrg</th>
                                        <th class="cell">typeEvenement</th>
                                        <th class="cell">isActive</th>
                                        <th class="cell"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evenement of list, let i= index">

                                        
                                        <td class="cell">{{evenement._id}}</td>
                                        <td class="cell"><span class="truncate">{{evenement.description}}</span></td>
                                        <td class="cell"><span class="truncate">{{evenement.dateDeb}}</span></td>
                                        <td class="cell">{{evenement.dateFin}}</td>
                                        
                                        <td class="cell">{{evenement.instanceOrg}}</td>
                                        <td class="cell">{{evenement.typeEvenement}}</td>
                                        <td class="cell"><span class="badge bg-success">{{evenement.isActive}}</span></td>             
                                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                                        
                                    </tr>

                                
                                </tbody>                                
                               <!-- tbody place-->
                            </table>
                        </div><!--//table-responsive-->
                       
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
                <nav class="app-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="false">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav><!--//app-pagination-->
                
            </div><!--//tab-pane-->
            
            <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
                <div class="app-card app-card-orders-table mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            
                            <table class="table mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">_id</th>
                                        <th class="cell">description</th>
                                        <th class="cell">dateDeb</th>
                                        <th class="cell">dateFin</th>
                                        <th class="cell">lieu</th>
                                        <th class="cell">instanceOrg</th>
                                        <th class="cell">isActive</th>
                                        <th class="cell"></th>


                                    </tr>
                                </thead>
<tbody>
                                    <tr *ngFor="let evenement of list, let i= index">

                                        
                                        <td class="cell">{{evenement._id}}</td>
                                        <td class="cell"><span class="truncate">{{evenement.description}}</span></td>
                                        <td class="cell"><span class="truncate">{{evenement.dateDeb}}</span></td>
                                        <td class="cell"><span class="truncate">{{evenement.dateFin}}</span></td>
                                        
                                        <td class="cell">{{evenement.lieu}}</td>
                                        <td class="cell">{{evenement.instanceOrg}}</td>
                                        <td class="cell"><span class="badge bg-success">{{evenement.isActive}}</span></td>             
                                        <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                                        
                                    </tr>

                                
                                </tbody>           
                            </table>
                        </div><!--//table-responsive-->
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
            </div><!--//tab-pane-->
            
            <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
                <div class="app-card app-card-orders-table mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">_id</th>
                                        <th class="cell">description</th>
                                        <th class="cell">dateDeb</th>
                                        <th class="cell">dateFin</th>
                                        <th class="cell">lieu</th>
                                        <th class="cell">isActive</th>
                                        <th class="cell"></th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evenement of list, let i= index">
                
                                        <td *ngIf="evenement.isActive == true" class="cell">{{evenement._id}}</td>
                                        <td *ngIf="evenement.isActive == true"  class="cell"><span class="truncate">{{evenement.description}}</span></td>
                        
                                        <td *ngIf="evenement.isActive == true"   class="cell">{{evenement.dateDeb}}</td>
                         
              
                                        <td *ngIf="evenement.isActive == true"   class="cell">{{evenement.dateFin}}</td>
                                        <td *ngIf="evenement.isActive == true"   class="cell">{{evenement.lieu}}</td> 
                                        <td *ngIf="evenement.isActive == true"   class="cell"><span class="badge bg-success">{{evenement.isActive}}</span></td>
                                        <td *ngIf="evenement.isActive == true"   class="cell">      <button class="btn btn-sm btn-danger"  (click)="delete(evenement._id)">
                                            delete evenement </button></td>
                                            <td *ngIf="evenement.isActive == true"   class="cell">      

                                                <button class="btn btn-sm btn-warning"  [routerLink]="'/evenement/show'"

                                                                        [queryParams]="{ _id: evenement._id}"
                                                            >
                                                    <!--      

                                                                            [routerLink]="'/typeEvenement/show'" 
                                                
                                                [queryParams]="{ _id: typeEvenement._id}"                                                    
                                                    -->
                                                      update evenement </button>
                                            </td>                                            
                                        
                                    </tr>

                                
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
            </div><!--//tab-pane-->
            <div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
                <div class="app-card app-card-orders-table mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">_id</th>
                                        <th class="cell">description</th>
                                        <th class="cell">dateDeb</th>
                                        <th class="cell">dateFin</th>
                                        <th class="cell">typeEvenement</th>
                                        <th class="cell">isActive</th>
                                        <th class="cell"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evenement of list, let i= index">
                            
                                        <td *ngIf="evenement.isActive == false" class="cell">{{evenement._id}}</td>
                                        <td *ngIf="evenement.isActive == false"  class="cell"><span class="truncate">{{evenement.description}}</span></td>
                                        <td *ngIf="evenement.isActive == false"   class="cell">{{evenement.dateDeb}}</td>
                                        
                                        <td *ngIf="evenement.isActive == false"   class="cell">{{evenement.dateFin}}</td>
                                        <td *ngIf="evenement.isActive == false"   class="cell">{{evenement.typeEvenement}}</td>
                                        <td *ngIf="evenement.isActive == false"   class="cell"><span class="badge bg-success">{{evenement.isActive}}</span></td>
                                        <td *ngIf="evenement.isActive == false"   class="cell">      <button class="btn btn-sm btn-danger"  (click)="delete(evenement._id)">
                                            delete evenement </button></td>
                                            <td *ngIf="evenement.isActive == false"   class="cell">      

                                                <button class="btn btn-sm btn-warning"  [routerLink]="'/evenement/show'" 
                                                
                                                [queryParams]="{ _id: evenement._id}">
                                                    <!--      <button [routerLink]="'url'"> Button Label</button>
                                                    
                                                    -->
                                                      update evenement </button>
                                            </td>                                           
                                    </tr>

                                
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
            </div><!--//tab-pane-->
        </div><!--//tab-content-->
        
        
        
    </div><!--//container-fluid-->
</div>